doctype html
- var base = process.env['ROUTING_BASE'] || "/hoctable/"
- var contentful_space_id = process.env['CONTENTFUL_SPACE_ID'] || "mfoj0muvznsj"
- var contentful_access_token = process.env['CONTENTFUL_ACCESS_TOKEN'] || ""
- var zomato_access_token = process.env['ZOMATO_ACCESS_TOKEN'] || ""
html(style="background-color: white; min-height: 100%; position: relative;")
  head
    meta(charset="utf-8")
    title hoctable
    link(rel="icon" href="https://avatars1.githubusercontent.com/u/6157704?v=3&s=200")
    link(rel="shortcut icon" href="https://avatars1.githubusercontent.com/u/6157704?v=3&s=200")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" type="text/css" rel="stylesheet")
    link(href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" rel="stylesheet")
    link(href="./css/main.css" type="text/css" rel="stylesheet")
    meta(name="author" content=author.name)
  body(style="background-color: white; min-height: 100%; position: relative;")
    #popups
    header#application-header
    #main
    hr
    footer#application-footer
    script(src="//unpkg.com/react@15.3.1/dist/react.js")
    script(src="//unpkg.com/react-dom@15.3.1/dist/react-dom.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js")
    script(src="//cdn.rawgit.com/visionmedia/page.js/master/page.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js" type="text/javascript")

    if process.env['TRAVIS_COMMIT']
      script(src="./js/app.min.js" type="text/javascript")
    else
      script(src="./js/app.js" type="text/javascript")

    script(type="text/javascript").
      (function() {
        function start(app) {
          app.start();
        }


        var ENV = {
          author: "#{author.name}",
          routing: {
            "base_url": "#{base}",
          },
          contentful: {
            "api_base_url": "https://cdn.contentful.com",
            "space_id": "#{contentful_space_id}",
            "access_token": "#{(new Buffer(contentful_access_token)).toString("base64")}",
          },
          zomato: {
            "access_token": "#{(new Buffer(zomato_access_token)).toString("base64")}",
            "api_base_url": "https://developers.zomato.com/api/v2.1"
          },
          external_urls: {
            "github_project": "#{homepage}"
          }
        };

        define("config/environment", [], function() { return ENV; });
        define("react", [], function() { return window.React; });
        define("react-dom", [], function() { return window.ReactDOM; });

        require(["example/ghp/js/app"], start);
      })();
